body{
    font-family: 'Roboto', sans-serif;
    background:rgb(239, 251, 255);
    margin:0 auto;
    padding:0 0 0 0;
    width:960px;
}
a:link{ text-decoration:none;
    color:white;
} 
a:visited{ text-decoration:none;
    color:white;
}
a:hover{ 
    text-decoration:none;
    color:white;
} 
a:active{
    text-decoration:none;
    color:white;
}
nav{
    color:white;
    margin: 0  auto;
    justify-content: space-between;
    width:960px;
    height:50px;
    display:flex;
    align-items: center;    
    
    background-color:#4E4E4E;
}
.container{
    height:100vh;
    display:flex;
    padding: 5% 5%;
    background-color:rgba(0, 0, 0, 0.15);
}
.offer{    
    font-size:36px;
    color:white;
    font-style: normal;
    font-weight: bold;
    font-size:16px;
    display:flex;
    align-items: center;
   
}
h1,h3{
    margin-top:2%;
    margin-left:2%;
}
button{
    background:lightgray;
    padding:2% 4%;
}
button:hover{
    background:rgb(253, 253, 253);
    color:black;     
}

.experts{
    width:960px;
    width:50%;
    grid-template-columns: 20% auto 20%;
}
.one{
    border-radius:50%; 
    border-block-color: blue; 
    width:auto;
    height:50px;
     
}
.left{
    padding-top:30px;
    align-content: left;
}
article{
    width:50%;
    margin-left:30px;
}